/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@use "@/assets/layout/layout.scss";
@use "@/assets/demo/demo.scss";

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate {
    &.fade-in {
        animation: fadeIn 0.4s ease-in forwards;
    }
}

